<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cr5">

    <xacro:arg name="prefix" default="" />
    <xacro:arg name="package_name" default="cr5_description" />

    <xacro:include filename="$(find ${package_name})/urdf/macro.xacro" />
    <xacro:include filename="$(find ${package_name})/urdf/controller.xacro" />

    <link name="world" />

    <joint name="$(arg prefix)world_to_base_joint" type="fixed">
        <parent link="world" />
        <child link="$(arg prefix)base_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <xacro:cr5_robot prefix="$(arg prefix)" package_name="$(arg package_name)" />

    <xacro:cr5_ros2_control name="CR5HardwareInterface" prefix="$(arg prefix)" />

</robot>