<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Helper Macro for Individual Joint Interface -->
    <xacro:macro name="cr5_joint_interface" params="joint_name">
        <joint name="${joint_name}">
            <command_interface name="position" />
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
    </xacro:macro>

    <xacro:macro name="cr5_ros2_control" params="prefix:='' ">

        <ros2_control name="${prefix}cr5_system" type="system">
            <hardware>
                <plugin>mujoco_ros2_control/MujocoSystemInterface</plugin>
                <param name="mujoco_model">$(find dobot_mujoco_integration)/scenes/main_scene.xml</param>
            </hardware>

            <xacro:cr5_joint_interface joint_name="${prefix}joint_1" />
            <xacro:cr5_joint_interface joint_name="${prefix}joint_2" />
            <xacro:cr5_joint_interface joint_name="${prefix}joint_3" />
            <xacro:cr5_joint_interface joint_name="${prefix}joint_4" />
            <xacro:cr5_joint_interface joint_name="${prefix}joint_5" />
            <xacro:cr5_joint_interface joint_name="${prefix}joint_6" />
        </ros2_control>

    </xacro:macro>
</robot>