<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="pgc_50_35" params="prefix parent *origin">
        <joint name="${prefix}mount_joint" type="fixed">
            <parent link="${parent}" />
            <child link="${prefix}gripper_base" />
            <xacro:insert_block name="origin" />
        </joint>

        <link name="${prefix}gripper_base">
            <inertial>
                <origin xyz="0 0 0.038" />
                <mass value="0.4528" />
                <inertia ixx="0.000415" iyy="0.000455" izz="0.000248" ixy="0" ixz="0" iyz="0" />
            </inertial>
            <visual>
                <geometry>
                    <mesh filename="package://eoat_description/meshes/pgc/pgc_50_35/visual/base.stl" />
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <mesh
                        filename="package://eoat_description/meshes/pgc/pgc_50_35/collision/base.stl" />
                </geometry>
            </collision>
        </link>

        <link name="${prefix}finger_1">
            <inertial>
                <origin xyz="0.005 0.004 0.017" />
                <mass value="0.0236" />
                <inertia ixx="4.68e-06" iyy="5.57e-06" izz="2.70e-06" ixy="-5.9e-07" ixz="-1.36e-06"
                    iyz="-1.26e-06" />
            </inertial>
            <visual>
                <geometry>
                    <mesh
                        filename="package://eoat_description/meshes/pgc/pgc_50_35/visual/finger_1.stl" />
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <mesh
                        filename="package://eoat_description/meshes/pgc/pgc_50_35/collision/finger_1.stl" />
                </geometry>
            </collision>
        </link>
        <joint name="${prefix}slider_1" type="prismatic">
            <parent link="${prefix}gripper_base" />
            <child link="${prefix}finger_1" />
            <axis xyz="0 0 1" />
            <limit lower="0" upper="0.0187" effort="50" velocity="0.1" />
        </joint>

        <link name="${prefix}finger_2">
            <inertial>
                <origin xyz="-0.005 -0.004 0.017" />
                <mass value="0.0236" />
                <inertia ixx="4.68e-06" iyy="5.57e-06" izz="2.70e-06" ixy="-5.9e-07" ixz="1.36e-06"
                    iyz="1.26e-06" />
            </inertial>
            <visual>
                <geometry>
                    <mesh
                        filename="package://eoat_description/meshes/pgc/pgc_50_35/visual/finger_2.stl" />
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <mesh
                        filename="package://eoat_description/meshes/pgc/pgc_50_35/collision/finger_2.stl" />
                </geometry>
            </collision>
        </link>

        <joint name="${prefix}slider_2" type="prismatic">
            <parent link="${prefix}gripper_base" />
            <child link="${prefix}finger_2" />
            <origin rpy="0 3.14159265 0" />
            <axis xyz="0 0 1" />
            <limit lower="0" upper="0.0187" effort="50" velocity="0.1" />
            <mimic joint="${prefix}slider_1" multiplier="1" offset="0" />
        </joint>
    </xacro:macro>
</robot>