<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Helper Macro for Individual Joint Interface -->
    <xacro:macro name="cr5_joint_interface" params="joint_name">
        <joint name="${joint_name}">
            <command_interface name="position" />
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
    </xacro:macro>
</robot>